.posts {
    height: 100vh; // to be centralized later
    background-color: $color-black-canvas;
    flex: 0.4;

    &__header {
		height: 15rem;
        padding: 2rem;
        background-color: $color-white-head;
        box-shadow: 0 0.4rem 0.9rem rgba($color-black, 0.25);
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;

        &--top {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

			& > h3 {
				cursor: pointer;
				font-weight: 400;
				transition: all 0.3s ease-in-out;
			}			
        }


        &--start {
            background-color: $color-white;
            box-shadow: 0 0.3rem 0.5rem rgba($color-black, 0.25);
            border-radius: 10rem;

            & > h1 {
                color: $color-black;
                opacity: 60%;
                padding: 0.8rem 1.5rem;
            }
        }
    }

    &__container {
        height: calc(100% - 15rem);
        scroll-behavior: smooth;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0.3rem; /* Remove scrollbar space */
            background: transparent; /* Optional: just make scrollbar invisible */
        }
        /* Optional: show position indicator in red */
        &::-webkit-scrollbar-thumb {
            background: $color-white-head;
        }
    }

	&__loadingCard {
		background-color: $color-white;
		height: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
