.avatar {
    box-shadow: 0 0.3rem 0.9rem rgba($color-black, 0.16);
    height: 5rem;
    width: 5rem;
    border-radius: 10rem;

	&__noRad {
		border-radius: 0;
		box-shadow: none;
		
	}

	&__back {
		background-color: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}