.button{
	padding: 0.4rem 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 0.6rem;
	transition: all 0.4s ease-in-out;

	&:hover{box-shadow: 0 0.3rem 0.6rem rgba($color-black, 0.16);}

	&__icon {
		max-width: 3.2rem;
		max-height: 3.2rem;
		object-fit: contain;
		width: fit-content;
		height: fit-content;
		width: -moz-fit-content;
		height: -moz-fot-content;
	}

	&--fill{
		border: 0;
		&--primary{ background-color: $color-primary; color: $color-white !important; }
		&--error{ background-color: $color-red; color: $color-white !important; }
		&--warning{ background-color: $color-yellow; }
		&--info{ background-color: $color-blue; }
		&--success{ background-color: $color-green; }
	}

	&--no-fill{		
		background-color: $color-white;
		&--normal{ border: 0.1rem $color-gray solid;}
		&--primary{ border: 0.2rem $color-primary solid; color: $color-primary !important; &:hover{background-color: $color-primary; color: $color-white !important;}}
		&--error{ border: 0.2rem $color-red solid; color: $color-red !important; &:hover{background-color: $color-red; color: $color-white !important;}}
		&--warning{ border: 0.2rem $color-yellow solid; color: $color-black !important; &:hover{background-color: $color-yellow; color: $color-black !important;}}
		&--info{ border: 0.2rem $color-blue solid; color: $color-blue !important; &:hover{background-color: $color-blue; color: $color-white !important;}}
		&--success{ border: 0.2rem $color-green solid; color: $color-black !important; &:hover{background-color: $color-green; color: $color-black !important;}}
	}

	&--hover{
		background-color: $color-white;
		border: 0.1rem $color-gray solid;

		&--primary{ &:hover{border: 0.1rem $color-primary solid; background-color: $color-primary;} }
		&--error{ &:hover{border: 0.1rem $color-red solid; background-color: $color-red;} }
		&--warning{ &:hover{border: 0.1rem $color-yellow solid; background-color: $color-yellow;} }
		&--info{ &:hover{border: 0.1rem $color-primary solid; background-color: $color-blue;} }
		&--success{ &:hover{border: 0.1rem $color-green solid; background-color: $color-green;} }
	}

	&--text {
		border: 0;
		
		&--primary { color: $color-primary !important; }
		&--error { color: $color-red !important; }
		&--warning { color: $color-yellow !important; }
		&--info { color: $color-blue !important; }
		&--success { color: $color-green !important; }
	}

	&--br-u-0{
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}
}
