.join {
	&__back {
		z-index: 100;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: $color-black;
		
	}
	
	&__container {	
		border-radius: 0.5rem;
		padding: 3rem;
		min-width: 30%;
		min-height: 75%;
		display: flex;
		flex-direction: column;

		&--head {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 2rem;
		}
	}

	&__login {
		display: flex;
		flex-direction: column;

		& > h1 {
			text-align: center;
			color: $color-orange;
		}

		& > p {
			text-align: center;
			margin-top: 1rem;
			font-weight: 300;
			& > a {
				cursor: pointer;
				color: $color-blue-dark;
			}
		}

		& > input {
			margin: 1.5rem 0;
			border-width: 0.1rem;
			padding: 1.2rem;
			width: 100%;
			border-radius: 0.4rem;
			&:focus {
				box-shadow: none;
			}
		}
	}

	&__thirdparty {
		margin-top: auto;
		&--social {
			min-height: 50%;
			display: flex;
			flex-direction: column;
		}
	}

	&__choice {
		margin: 3rem;
		position: relative;
		padding: 2rem 0;

		&--or {
			position: absolute;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			background-color: $color-white;
			padding: 0.2rem 0.5rem;
			border-radius: 0.5rem;

		}
	}
}