.menu {
	right: 0;
	top: 3rem;
	z-index: 1;
	max-width: max-content;
	border-radius: 0.5rem;
	position: absolute;
	background-color: $color-white;
	box-shadow: 0 0.3rem 0.4rem rgba($color-black, 0.25);

	& > p {
		padding: 0.5rem 2rem;
		color: $color-black !important;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		border-radius: 0.2rem;

		&:hover {
			background-color: $color-grey;
			font-weight: 400;
		}
	}

}