.modal {
	background-color: $color-white;
	z-index: 100;
	padding: 1.5rem;
	min-width: 50rem;
	border-radius: .5rem;

	&__btn {
		width: 10rem;
		margin-left: auto;
		border-radius: 5rem !important;
		font-weight: 500;
	}


	&__previewContainer {
		position: relative;	
		padding: 1rem 0;	
	}

	&__preview {
		max-height: 25rem;
		max-width: 35rem;
		border-radius: 1rem;

		&--trashIcon {
			background-color: white;
			position: absolute;
			opacity: 1;
			border-bottom-right-radius: 0.5rem;
			border-top-left-radius: 1rem;
			padding: 1rem;
			left: 0;
		}
	}
}