.spinner__container {
    border-radius: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
	height: 2rem;
	width: 2rem;
    box-shadow: 0 0.4rem 1.2rem rgba($color-black, 0.10);
	padding: 2.8rem;
}
