/*	COLORS	*/
$color-white: #fefefe;
$color-white-light: #f4f4f4;
$color-white-head: #4a4a4a;
$color-white-post: #efefef;
$color-gray: #e0e0e0;
// $color-black: #18162e;
// $color-black-light: #252054;
$color-primary: #16c9ff;
$color-red: #ff004e;
$color-green: #56fe99;
$color-yellow: #fed813;
$color-blue: #16c9ff;
// we will define our colors here
$color-black: #050505;
$color-black-light: #202020;
$color-black-tray: #121212;
$color-black-canvas: #bfbfbf;
$color-brown: #493d3a;
$color-grey: #b9b7b8;
$color-red: #c5221c;
$color-orange: #da7301;
$color-blue-dark: #007bff;
$color-yellow: #ef930a;

/*	FONT SIZES	*/
$text-default-size: 1.6rem;

/*	GRID	*/
$grid-width: 114rem;
$gutter-ver: 4rem;
$gutter-ver-med: 2rem;
$gutter-hor: 6rem;
$gutter-hor-med: 4rem;
