/*	COLORS	*/
$color-white: #fefefe;
$color-white-light: #f4f4f4;
$color-gray: #e0e0e0;
$color-black: #18162e;
$color-black-light: #252054;
$color-primary: #16c9ff;
$color-red: #ff004e;
$color-green: #56fe99;
$color-yellow: #fed813;
$color-blue: #16c9ff;
// we will define our colors here

/*	FONT SIZES	*/
$text-default-size: 1.6rem;

/*	GRID	*/
$grid-width: 114rem;
$gutter-ver: 4rem;
$gutter-ver-med: 2rem;
$gutter-hor: 6rem;
$gutter-hor-med: 4rem;