.connection {
	background-color: $color-black-tray !important;
	width: 85%;
	height: 10rem;
	margin: 0.5rem 0;
	display: flex;
	align-items: center;
	padding: 0 !important;
	transition: 0.2s all ease-in-out;

	&:hover {
		box-shadow: 0 0.3rem 0.8rem rgba($color-black, 1.0);
		transform: scale(1.01);
	}

	&__profile {
		background-color: rgba($color-black,0.5);
		height: 100%;
		padding: 1rem;
		min-width: 10rem;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0;

		&--head {
			background-color: $color-black !important;
			height: 7rem;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 0 0.3rem 0.8rem rgba($color-black, 0.2);
			border-left: .1rem solid $color-black-tray;

			& > h1 {
				height: 100%;
				display: flex;
				margin: 0 1rem;
				align-items: center;
				cursor: pointer;
				border-bottom: 0.3rem solid $color-black-tray;
			}
			
			& > h1.active {
				color: $color-blue;
				border-bottom: 0.3rem solid $color-blue;
			}
		}
	}

	&__name {
		text-transform: lowercase;
		& > h3 {
			font-weight: 400;
			text-transform: capitalize;
		}
	}

	&__icon {
		height: 2rem !important;
		width: 2rem !important;
		filter: brightness(0) invert(1);
	}
}