.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.5rem;
    height: 100vh;
    background-color: $color-black;
    box-shadow: 0 0.3rem 0.9rem rgba($color-black, 0.4);
    padding: 1.5rem 0;
    z-index: 10;

    &__logo {
        box-shadow: 0 0.3rem 0.9rem rgba($color-black, 0.16);
        height: 5rem;
        width: 5rem;
        border-radius: 10rem;
    }

	&__line {
		width: 100%;
		border-top: .1rem $color-black-light solid;
	}

	& > div {
		// margin: 0 1rem;
		margin-bottom: 2rem;
		transition: 0.3s all ease-in-out;
		&:hover {
			transform: scale(1.1)
		}
	}
}

.features {
	&__chat {
		background: $color-white;
	}
}