*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: $color-white;
    scroll-behavior: smooth;
    color: $color-black;
    font-family: "Poppins", sans-serif;

    @include respond(desBig) {
        font-size: 62.5%;
    }
    @include respond(desk) {
        font-size: 50%;
    }
    @include respond(tabLand) {
        font-size: 56.25%;
    }
    @include respond(tabPort) {
        font-size: 50%;
    }
    @include respond(phone) {
        font-size: 60%;
    }
}

body {
    box-sizing: border-box;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    & > .page {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

section {
    padding: 4rem 10rem;
    height: 94vh;
    z-index: 1;
    position: relative;
    z-index: 1;
    overflow-y: scroll;

    @include respond(desk) {
        padding: 2rem 10rem;
    }
    @include respond(phone) {
        padding: 0 2rem;
    }
}
